@(title: String, scripts: Html = Html(""))(content: Html)
@import helper._

<!DOCTYPE html>
<head>
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("font-awesome-4.2.0/css/font-awesome.min.css")"/>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/common.css")"/>
  <link rel="icon" type="image/png" sizes="256x256" href="@routes.Assets.at("images/LogoNaranja.png")"/>
  <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/LogoNaranja.png")"/>
  <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("images/LogoNaranja.png")"/>
</head>

<body>
  <div id="main" class="container">
    <header id="header">
      <div class="row">
        <div class="12u">
          <img class="banner" src="/assets/images/banner.jpg" alt="Imagen no disponible"/>
        </div>
      </div>
    </header>
    
    <!-- success flash message -->
    @if(flash.containsKey("success")){
    <div class="row">
      <div class="12u">
        <div class="success">
          @flash.get("success")
        </div>
      </div>
    </div>}

    <!-- error flash message -->
    @if(flash.containsKey("error")){
    <div class="row">
      <div class="12u">
        <div class="error">
          @flash.get("error")
        </div>
      </div>
    </div>}

    @content

    <footer id="footer">
      <div class="row">
        <div class="1u">
          <a class="icon-af" href="https://www.facebook.com/pages/Media-Naranja/796190457105636">
            <i class="fa fa-facebook-square fa-3x"></i>
          </a>
          <a class="icon-af" href="https://twitter.com/MediaNaranjaMx">
            <i class="fa fa-twitter fa-3x"></i>
          </a>
          <a class="icon-af" href="https://www.youtube.com/channel/UCjttsMavd90WyjgWFr2qqbw">
            <i class="fa fa-youtube fa-3x"></i>
          </a>
          <a class="icon-af" href="https://instagram.com/media_naranja_mx/">
            <i class="fa fa-instagram fa-3x"></i>
          </a>
        </div>
        <div class="4u">
          <div class="row uniform 25%">
            <div class="6u">
              <img class="image" src="/assets/images/footer1.jpeg" alt="Foto de reunión"/>
            </div>
            <div class="6u">
              <img class="image" src="/assets/images/footer2.jpeg" alt="Foto de reunión"/>
            </div>
            <div class="6u">
              <img class="image" src="/assets/images/footer3.jpeg" alt="Foto de reunión"/>
            </div>
            <div class="6u">
              <img class="image" src="/assets/images/footer4.jpeg" alt="Foto de reunión"/>
            </div>
          </div>
        </div>
        <div class="3u">
          <p>"This platform is the best, thanks to it, I will marry". John</p>
          <p>"This platform is the best, thanks to it, I will marry". John</p>
          <p>"This platform is the best, thanks to it, I will marry". John</p>
        </div>
        <div class="4u">
          <form>
            <fieldset>
              <legend>Contáctanos</legend>
              <input class="contact" type="email" placeholder="Correo electrónico"/>
              <textarea class="contact" placeholder="Cuéntanos..."></textarea>
            </fieldset>
            <a href="#">
              Aviso de privacidad
            </a>&nbsp;&nbsp;&nbsp;
            <input class="contact" type="submit" value="Enviar">
          </form>
        </div>
      </div>
    </footer>

  </div>

  
  <script src="@routes.Assets.at("javascripts/skel.min.js")" type="text/javascript">
  </script>
  <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript">
  </script>
  <script src="@routes.Assets.at("javascripts/skel-layers.min.js")" type="text/javascript">
  </script>
  <script>
// responsive framework initialize
skel.init({
  reset: 'full',
  breakpoints: {
    large: {
      media: '(min-width: 1025px) and (max-width: 1280px)',
      containers: 960
    },
    medium: {
      media: '(min-width: 769px) and (max-width: 1024px)',
      containers: '90%'
    },
    small: {
      media: '(max-width: 768px)',
      containers: '95%!'
    },
    xsmall: {
      media: '(max-width: 640px)',
      grid: {                
        collapse: true
      }
    }
  },
  plugins: {
    layers: {
      titleBar: {
        position: 'top-left',
        width: '0%',
        height: 44,
        html: '<div class="toggle" data-action="toggleLayer" data-args="navPanel">&equiv;</div>' +
        '<!--<span class="title">Media Naranja</span>-->'
      },
      navPanel: {
        position: 'top-left',
        width: 300,
        height: '100%',
        orientation: 'vertical',
        side: 'left',
        hidden: true,
        animation: 'pushX',
        clickToHide: true,
        html: '<a href="@controllers.routes.HomeC.home"><center><img src="@routes.Assets.at("images/LogoNaranja.png")"/></center></a>'+
        @if(session.containsKey("email")){
          '<a>@session.get("email")</a>'+
          '<a href="@routes.EditDeleteC.editDelete">Editar datos</a>'+
          '<a href="@routes.DetailsC.myDetails">Mis datos</a>'+
          '<a href="@routes.StatePhotoC.myStatePhoto">Perfil y fotos</a>'+
          '<a href="@routes.ChatC.chat">Chat</a>'+
          '<a href="@routes.SessionC.signOut">Salir</a>'
        }else{
          '<a href="@routes.SignUpC.signUp">Regístrate</a>'+
          '<a href="@routes.SessionC.signIn">Entrar</a>'
        }
      }
    }
  }
});</script>
<script type="text/javascript" >
// take away the flash messages
$(document).ready(function(){
  setTimeout(function(){
    $("div.success,div.error").fadeOut("slow", function () {
      $("div.success,div.error").remove();
    }); }, 4000);
});
</script>
@scripts
</body>
</html>
