@(signInForm: Form[forms.SignInForm])
@import helper._ 

@main("Inicio de sesión") {
<div class="row">
  <div class="6u -3u">
    @form(action=routes.SessionC.doSignIn()){
    @inputText(signInForm("email"),
    '_showConstraints->false,
    '_label -> Nil,
    'placeholder -> "Correo electrónico",
    'autocomplete->"off",
    'maxlength->"100"
    )
    @inputPassword(signInForm("password"),
    '_showConstraints->false,
    '_label -> Nil,
    'placeholder -> "Contraseña",
    'autocomplete->"off",
    'maxlength->"40"
    )
    <center>
      <input type="submit" value="Iniciar sesión">
      <br>
      <br>
      <a href="#">Olvide mi contraseña</a>
    </center>}
  </div>
</div>
}
