@(signUpForm: Form[forms.SignUpForm])
@import helper._ 

@main("Pre-registro") {

@form(action=routes.SignUpC.doSignUp()){
<div class="row">
  <div class="6u">
    <legend class="legend">Datos</legend>
    @inputText(signUpForm("email"),
    '_showConstraints->false,
    '_label -> Nil,
    'placeholder -> "Correo electrónico",
    'autocomplete ->"off",
    'maxlength->"100"
    )

    @inputPassword(signUpForm("password"),
    '_showConstraints->false,
    '_label -> Nil,
    'placeholder -> "Contraseña",
    'autocomplete ->"off",
    'maxlength->"40"
    )

    @inputPassword(signUpForm("confirmation"),
    '_showConstraints->false,
    '_label -> Nil,
    'placeholder -> "Confirmación",
    'autocomplete ->"off",
    'maxlength->"40"
    )

    @inputText(signUpForm("birth"),
    '_showConstraints->false,
    '_label -> Nil,
    'placeholder -> "Nacimiento MM/DD/AAAA",
    'pattern->"[01][0-9]/[0-3][0-9]/[12][09][0-9][0-9]",
    'autocomplete ->"off",
    'maxlength->"10"
    )
  </div>
  <div class="6u">
    <legend class="legend">Aviso de privacidad</legend>
    <textarea id="privacy-notice" readonly="readonly">
      De acuerdo con los Lineamientos de Transparencia, Acceso a la Información, Archivos y Protección de Datos Personales del Instituto de Datos Nacional, el Aviso de privacidad es el documento físico, electrónico o en cualquier otro formato generado por el responsable de la base de datos que es puesto a disposición del titular, previo al tratamiento de sus datos personales. Sus datos serán tratados de forma segura y eficaz.
    </textarea>
    <br>
    <center>
      @if(signUpForm.errors.containsKey("acceptance")){
      <dl class=" error" id="acceptance_field">
        <input id="acceptance" name="acceptance" value="true" type="checkbox">
        <label for="acceptance">Acepto términos y condiciones</label>
        <dd class="error">Debes aceptar</dd>
      </dl>}else{
      <dl class=" " id="acceptance_field">
        <input id="acceptance" name="acceptance" value="true" type="checkbox">
        <label for="acceptance">Acepto términos y condiciones</label>
      </dl>}
    </center>
  </div>
</div>
<div class="row">
  <div class="12u">
    <center>
      <input type="submit" value="Registrar">
    </center>
  </div>
</div>
}
}
